@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0px;
    color: #2a2a63;
}

p {
    font-size: 6px;
}

h2 {
    font-size: 10px;
}

h3 {
    font-size: 7px;
}

h4 {
    font-size: 6px;
}

h5 {
    font-size: 6px;
}

.main-bg {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    overflow: auto;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffa1a9;
    height: 100%;
    background-size: cover;
    align-items: center;
}

.vl {
    border-left: 4px solid #2a2a63;
    height: 100%;
}

.hl {
    background-color: #2a2a63;
    width: 100%;
    height: 6px;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    height: 60px;
    width: 60px;
    border: solid 2px #2a2a63;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon-class {
    font-size: 30px;
}


.i-icons {
    height: 60px;
    width: 60px;
    border: solid 2px #2a2a63;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #2a2a63;
}

.tab2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
}

.para {
    margin-bottom: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.profile-details {
    width: 50%;
    padding: 20px;
}

.address {
    width: 50%;
    padding: 20px;
}

.work {
    padding: 20px;
    height: 20%;
}

.date-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: flex-start;
}

.date {
    width: 30%;
    padding-left: 10px;
}

.timeline {
    width: 70%;
    margin-bottom: 10px;
}

.skills-awards {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.skills-ratio {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 20px;
}

.skills {
    margin-bottom: 5px;
}

.skill-name {
    width: 50%;
}

.skill-percent {
    width: 50%;
    font-weight: 900;
    font-size: 190px;
}

.awards {
    padding: 10px;
    width: 50%;
}

.intrests {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
    height: 20%;
}

.education {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 16%;
}